[submodule "source/tacex_ipc/libuipc"]
	path = source/tacex_ipc/libuipc
	url = https://github.com/Duuuc/libuipc.git
[submodule "source/tacex_ipc/external/wildmeshing-python"]
	path = source/tacex_ipc/external/wildmeshing-python
	url = https://github.com/wildmeshing/wildmeshing-python.git
